*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
/*body{
	
overflow-x: hidden;
}*/




@import url('https://fonts.googleapis.com/css2? family= Cormorán:wght@500 & family= Danza+Guión:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');


/*Index*/
.titulo1Carrousel{
  text-shadow: 2px 2px 2px black;
  color: white;
  font-family: 'Cormorant', serif;
}
.tituloCarrousel{
  text-shadow: 2px 2px 2px black;
  font-size: 25px;
  font-family: 'Cormorant', serif;
}

/*NOSOTROS CON BOOTSTRAP*/

.imagen{
 position: relative;
 right:10px;
 width: 90px;
}
.logo{
 
  position: relative;
  right: 10px;
}

.nav-link{
  margin-left:70px;
}
.navbar-collapse{
  margin-left:150px;
 
  font-size:17px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow: 1px 1px 1px grey;

}
.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size:17px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow: 1px 1px 1px grey;
}


.navbar{
  height: 101px;
  position: fixed;
  z-index: 1;
 width: 100%;
 right:0px;
  background-image: linear-gradient(#13F8F9,white);
}

.navbar-brand{
  

  font-size:30px;
  font-family: 'Cormorant', serif;
  font-weight:bold;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  margin-right: 0px;
}
a.nav-link:hover{
  color:white;
  list-style-type: none;
  text-decoration: none;
}

a:hover{
  color:white;
  list-style-type: none;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: black;
}

.ubicacionTitulo1 {
    display: inline;
    position: relative;
    bottom: -6px;
    left: -17px;
}


.index-nav1__logo--tamañoLogo{
  width:110px ;
  height:auto;
  /*box-shadow: 1.5px 1.5px 1.5px grey;*/
padding-right: 20px;
}
.navbar-nav{
 display: flex;
 justify-content: flex-end;*/

}



.imagen:hover{
  color: white;
}

footer{
  background-image: linear-gradient(#13F8F9,white);
  background-size: cover;
 

  
  position: relative;
  top:100px;
}

  footer  p.index-nav1__tituloLogo--formatoTitulo{
  color: black;
  font-size:30px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  z-index: 1;
}


.div-redes1__a{
 margin-left:25px;

}

.redes{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 67px;
  right:70px;
  justify-content: flex-end;
}

.face:hover{
  transform: scale(1.2);
  color: white;
  }
  
.wsp:hover{
  transform: scale(1.2);
  color: white;
  }
.insta:hover{
    transform: scale(1.2);
    color: white;
  }


.d-block {
    margin-top: 50px;
    height: 408px;
<<<<<<< HEAD
}


.mainIndex {
    position: relative;
    height: 524px;
    background: linear-gradient(45deg,white,#F9E79F, #FCFAE2,white);
    background-size: cover;
   /* background-color: #FCFAE2;*/
    top: 100px;
}
h5{
  font-size: 45px;
}

.mainIndex__section--formatoHome{
  font-size:70px;
  font-family: 'Cormorant', serif;
  font-weight:normal ;
  font-style: normal;
  color: #FCFAE2;
}
  .ubicacionHome1{
text-align: center;
margin-top:400px;
margin-right:50px;
text-shadow:2px 2px 2px black;
}
a{
	color: black;
}

/*NOSOTROS*/


.blockquote{
  display: flex;
  justify-content: center;
>>>>>>> nosotros
  position: relative;
  top: 200px;
  line-height: 2;
text-align: center;
font-family:'Cormorant', serif ;
font-size: 35px;
}



.mainNosotros {

    width: auto;
    height: 900px;
    background: linear-gradient(45deg,white,#F9E79F, #FCFAE2,white);
   
    background-size: cover;

    position: relative;

}
 


.texto{
  margin-top: 20px;
}
.blockquote {
    display: flex;
    justify-content: center;
    position: relative;
    top: 108px;
    line-height: 3;
    
    font-family: 'Cormorant', serif;
    font-size: 35px;
}

.timon {
 
    width: 200px;
    height: 200px;
    
}

.footerNosotros{
  position: relative;
  top: 0px;
}

.timon{
  animation-name: movimiento;
  animation-duration: 500ms;
}
@keyframes movimiento{
  50%{
    left: 60%;
    opacity: 0.1;}

  }


/*Eventos*/


  .Eventos{
    width: auto;
    height: auto;
  background: linear-gradient(45deg,white,#F9E79F, #FCFAE2,white);
    background-size: cover;
    position: relative;

}

.card1{
  position: relative;
  top: 350px;
}
.card2{
  position: relative;
  top: 350px;
  

}
.card3{
  position: relative;
  top: 350px;
  

}
.card4{
  position: relative;
  top: 350px;
}
.card5{
  position: relative;
  top: 350px;
}

.card-text{
  font-family:'Cormorant', serif ;
  font-size: 25px;
  color: #FCFAE2;
}
.Eventos__divDescripcionTitulo{

}

.Eventos__divDescripcionTitulo--pDescripcion{
    
    line-height: 1.5;
text-align: center;
font-family:'Cormorant', serif ;
font-size: 35px;
display: flex;
justify-content: center;
position: relative;
top: 128px;  
}
.Eventos__divDescripcionTitulo--pTitulo{
    

font-family:'Cormorant', serif ;
font-size: 40px;


position:relative;
top:250px;



}
.palmeras{
  display: flex;
  position: relative;
  top: 230px;
  margin-left: 20px;
  margin-right: 20px;
}
 

.box1{
background-color: #D1F2EB;
background-size: cover;
width: 500px;
height: 300px;
position: relative;
bottom:700px;
left:900px;

}

.footerEventos{
  position: relative;

  top:320px;
}
.Eventos__divDescripcionTitulo--pDescripcion{
  animation-name: movimiento;
  animation-duration: 2s;
}
@keyframes movimiento{
  50%{
    
    opacity: 0.1;}

  }
  .Eventos__divDescripcionTitulo--pTitulo{
  animation-name: movimiento;
  animation-duration: 2s;
}
@keyframes movimiento{
  50%{
    
    opacity: 0.1;}

  }




   /*GALERIA BOOTSTRAP*/

   .galeria{
 background: linear-gradient(45deg,white,#F9E79F, #FCFAE2,white);
    background-size: cover;
    height: auto;
   }
   .tituloGaleria{
  
  display: flex;
  text-align: center;
  align-items: center;
  font-family:'Cormorant', serif ;
  font-size: 45px;
  position: relative;
 margin-top:200px;
 bottom: 50px;

}

.foto1{
 width: 90%;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
  margin-bottom: 80px;
 }

 .foto1:hover{
  width:500px;
 }
.foto2{
  width: 90%;
flex-direction: rows;
transition: width 2s;
box-shadow:5px 5px 5px grey;
margin-bottom: 80px;
 }
 .foto2:hover{
  width:500px;
 }

.foto4{
  width: 90%;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
  margin-bottom: 80px;
}
.foto4:hover{
  width:500px;
 }

.foto6{
  width: 95%;
  transition: width 2s;
 box-shadow:5px 5px 5px grey;
 margin-bottom: 80px;
}
.foto6:hover{
  width:500px;
 }
.foto7{
  width: 95%;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
  margin-bottom: 80px;
}
.foto7:hover{
  width:500px;
 }
.foto8{
  width: 95%;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
  margin-bottom: 80px;
}
.foto8:hover{
  width:500px;
 }
.fotosalon{
  
width: 95%;

   transition: width 2s;
box-shadow:5px 5px 5px grey;
}
.fotosalon:hover{
  width:500px;
 }

.foto9{
  width: 95%;
 transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.foto9:hover{
  width:500px;
 }
.fotocumple{

width: 95%;
 transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.fotocumple:hover{
  width:500px;
 }
.foto11{
  width: 50%;
 
   transition: width 2s;
   box-shadow:5px 5px 5px grey;
}
.foto11:hover{
  
 }
 .footerGaleria{
  position: relative;

  top:5px;
 }



.Servicios{
background: linear-gradient(90deg,#F9E79F, #FCFAE2,white);
position:relative;
width: 100%;
height: 100%;
}


.Servicios__div--titulo{
    
    text-align: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    top:150px;
   
    line-height:1.2;
    font-family:'Cormorant', serif ;
    font-size:30px ;
    background-color: #D1F2EB;
    text-shadow:3px 3px 3px white;
    box-shadow: 1px 1px 1px grey;

  

  }

  .Servicios__div__ul{
    
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    position:relative;
    top: 20px;
   /* left:65px;*/
    line-height:1.5 ;
    font-family:'Cormorant', serif ;
    font-size:20px ;
    background-color:#D1F2EB;
    width:500px;
    height:650px;
    text-shadow:3px 3px 3px white;
    box-shadow: 1px 1px 1px grey;
  


  }
  .div__video{
    
    display: flex;
   
    position: relative;
    width:700px;
    height:700px;
    
    top:-300px;
  }
  .Servicios__div{
    position: relative;
    top: 50px;
    right: 40px;
    
  }

.Servicios{
background: linear-gradient(45deg,white,#F9E79F, #FCFAE2,white);
    background-size: cover;
position:relative;
width:auto;
height:1300px ;
}
.footerServicios{
  position: relative;

  top:0px;
}



  /*Mobile Horizontal*/
  /*@media  (max-width: 320px){
*/
  /*Mobile Horizontal*/
/*@media  (min-width: 321px) and (max-width: 480px)
*/
  




    
 
 
  

    
 

 

 






    














  @media  (min-width: 1025px){

  /*GALERIA*/


  

 