*{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}
/*body{
	
overflow-x: hidden;
}*/



/*main{
	background-color: #FCFAE2;
	width: 100%;
	height: auto;
}*/
@import url('https://fonts.googleapis.com/css2? family= Cormorán:wght@500 & family= Danza+Guión:wght@600 & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');

/*.border{
	border: 5px solid blue;
}*/


/*NOSOTROS CON BOOTSTRAP*/

.imagen{
 position: relative;
 right:10px;
 width: 90px;
}
.logo{
 
  position: relative;
  right: 10px;
}
.navbar-collapse{
  margin-left:600px;
 
  font-size:17px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow: 1px 1px 1px grey;

}
.navbar-dark .navbar-nav .nav-link {
  color: black;
  font-size:17px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow: 1px 1px 1px grey;
}


.navbar{
  height: 101px;
  position: fixed;
  z-index: 1;
 width: 100%;
 right:0px;
  background-image: linear-gradient(#13F8F9,white);
}

.navbar-brand{
  

  font-size:30px;
  font-family: 'Cormorant', serif;
  font-weight:bold;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  margin-right: 0px;
}
a.nav-link:hover{
  color:white;
  list-style-type: none;
  text-decoration: none;
}

a:hover{
  color:white;
  list-style-type: none;
  text-decoration: none;
}

.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: black;
}

.ubicacionTitulo1 {
    display: inline;
    position: relative;
    bottom: -6px;
    left: -17px;
}


.index-nav1__logo--tamañoLogo{
  width:110px ;
  height:auto;
  /*box-shadow: 1.5px 1.5px 1.5px grey;*/
padding-right: 20px;
}
.navbar-nav{
 display: flex;
 justify-content: flex-end;
 margin-left: 70px; 
}



.imagen:hover{
  color: white;
}

footer{
  background-image: linear-gradient(#13F8F9,white);
  background-size: cover;
 
  right: 0px;
  
  position: relative;
  top: 100px;
}

  footer a p.index-nav1__tituloLogo--formatoTitulo{
  color: black;
  font-size:30px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  z-index: 1;
}


.div-redes1__a{
 margin-left:25px;

}

.redes{
  display: flex;
  flex-direction: row;
  position: relative;
  top: 40px;
  right:70px;
  justify-content: flex-end;
}

.face:hover{
  transform: scale(1.2);
  color: white;
  }
  
.wsp:hover{
  transform: scale(1.2);
  color: white;
  }
.insta:hover{
    transform: scale(1.2);
    color: white;
  }


.d-block {
    margin-top: 50px;
    height: 408px;
<<<<<<< HEAD
}


.mainIndex {
    position: relative;
    height: 524px;
    background-color: #FCFAE2;
    top: 100px;
}
h5{
  font-size: 45px;
}

.mainIndex__section--formatoHome{
  font-size:70px;
  font-family: 'Cormorant', serif;
  font-weight:normal ;
  font-style: normal;
  color: #FCFAE2;
}
  .ubicacionHome1{
text-align: center;
margin-top:400px;
margin-right:50px;
text-shadow:2px 2px 2px black;
}
a{
	color: black;
}

/*NOSOTROS*/

.mainNosotros{
  background-color: #FCFAE2;
  width:375px;
  height: 440px;
=======
}

.blockquote{
  display: flex;
  justify-content: center;
>>>>>>> nosotros
  position: relative;
  top: 200px;
  line-height: 2;
text-align: center;
font-family:'Cormorant', serif ;
font-size: 35px;
}

/*.mainNosotros {
    background-color: #FCFAE2;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 1228px;
    left: 12px;
    top: -28px;
    buttom: 20px;
}*/

.mainNosotros {
    background-color: #FCFAE2;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 1146px;
    left: 15px;
    top: -28px;
    buttom: 20px;
    margin-bottom: 74px;
    margin-top: 0px;
}
/*.mainNosotros{

  background-color: #FCFAE2;
  background-size: cover;
  position: absolute;
  width:100%;
  height:750px;
  left: 12px;
}
*/

/*
.mainNosotros__formatoDiv{
width: 100%;
height: 300px;
} */

.texto{
  margin-top: 20px;
}
.blockquote {
    display: flex;
    justify-content: center;
    position: relative;
    top: 248px;
    line-height: 3;
    
    font-family: 'Cormorant', serif;
    font-size: 35px;
}

.timon {
    width: 200px;
    height: 200px;
    position: relative;
    top: 69px;
}

.footerNosotros{
  position: relative;
  top:1116px;
}
/*.imagenTimon{
   position:relative;
 margin-top:129px;

}*/
.divTimon{

}

/*Eventos*/


  .Eventos{
    
      width: 100%;
      height: 100%;
      background-color:#FCFAE2 ;
      position: absolute;
}
.card1{
  position: relative;
  top: 500px;
  width: 1000px;
}
.card2{
  position: relative;
  top: 500px;
  width: 1000px;

}


.Eventos__divDescripcionTitulo--pDescripcion{
    
    line-height: 1.5;
text-align: center;
font-family:'Cormorant', serif ;
font-size: 35px;
display: flex;
justify-content: center;
position: absolute;
top: 128px;  
}
.Eventos__divDescripcionTitulo--pTitulo{
    
   
font-family:'Cormorant', serif ;
font-size: 40px;
display: flex;

position:absolute;
top:350px;

}
.fotos__img--primero{
    
    width:750px ;
  height: 450px;
  display: flex;
  position: relative;
  left: 20px;
  bottom:280px;
  }
  .fotos__img--segundo{
   
    width:750px ;
  height: 450px;
  display: flex;
  padding-top:10px;
  position: relative;
  bottom:550px;
  left: 750px;
  }
  .fotos__img--tercero{
   
width:650px ;
  height: 450px;
  position: relative;
  left:60px;
  bottom:800px;
  }
  .fotos__img--cuarto{
    
width:750px ;
  height: 450px;
  position: relative;
  bottom:1050px;
  left: 800px;
  }
  .fotos__img--quinto{
   
width:750px ;
  height: 450px;
  position: relative;
  left:40px;
  bottom:1300px;
  }
  .fotos__tituloFotos--primero{
   
    text-align: center;
font-family:'Cormorant', serif ;
font-size: 35px;
  font-family:'Dancing Script', cursiva;
  color: white;
  position: relative;
  right:100px;
  bottom:320px;

  }
 
.img1A{

 text-align: center;
font-family:'Cormorant', serif ;
font-size: 25px;
position: relative;
top:80px;
}
.box1{
background-color: #D1F2EB;
background-size: cover;
width: 500px;
height: 300px;
position: relative;
bottom:700px;
left:900px;

}

.footerEventos{
  position: relative;

  top:1800px;
}

.Servicios{
background-color: #FCFAE2;
position:relative;
width: 100%;
height: 100%;
}



  /*Mobile Horizontal*/
  @media  (max-width: 320px){

  
  

/*Servicios*/
.formatoBodyServicios {  
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 105px 600px 105px;
    grid-auto-columns: 375px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header "
      " Servicios "
      "footer ";
    width: 100%;
    height: 100%;
  }

  header{
  	grid-area: header;
  }
 
  footer{
  	grid-area: footer;
  }
  .Servicios{
  	grid-area:Servicios;
  	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Servicios__div--titulo "
      "Servicios__div__ul  "
      "div__video";
    
   width: 100%;
   height: 100%;

   	
  }

  .Servicios__div--titulo{
  	grid-area: Servicios__div--titulo;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	position: absolute;
  	top:15px;
  	left:15px;
  	line-height:1.2;
  	font-family:'Cormorant', serif ;
  	font-size:14px ;
  	background-color: #D1F2EB;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  	height: 30px;
  	padding-top:10px ;
  

  }

  .Servicios__div__ul{
  	grid-area: Servicios__div__ul;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  	justify-content: center;
  	position:relative;
  	top:70px;
  	left:75px;
  	line-height:1.5 ;
  	font-family:'Cormorant', serif ;
  	font-size:12px ;
  	background-color:#D1F2EB;
  	width:180px;
  	height:350px;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  


  }
  .div__video{
  	grid-area: div__video;
  	display: flex;
  	flex-direction: column;
  	position: absolute;
  	margin-top:0px;
  	left:10px;

  	
  	width:310px;
  	height:160px;
  }
footer a p.index-nav1__tituloLogo--formatoTitulo{
  color: black;
  font-size:25px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  position: relative;
  top: -19px;


}
.index-nav1__ul1{
	position: absolute;
	left:0px;
	display: flex;
	margin-top:72px;

}


   


    
 
 
  

    
 

 

 






    





/*Mobile Horizontal*/
@media  (min-width: 321px) and (max-width: 480px){

/*Servicios*/
.formatoBodyServicios {  
    display: grid;
    grid-template-columns: 375px;
    grid-template-rows: 105px 600px 105px;
    grid-auto-columns: 375px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header "
      " Servicios "
      "footer ";
    width: 100%;
    height: 100%;
  }

  header{
  	grid-area: header;
  }
 
  footer{
  	grid-area: footer;
  }
  .Servicios{
  	grid-area:Servicios;
  	display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Servicios__div--titulo "
      "Servicios__div__ul  "
      "div__video";
    
   width: 100%;
   height: 100%;

   	
  }

  .Servicios__div--titulo{
  	grid-area: Servicios__div--titulo;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	position: absolute;
  	top:15px;
  	left:30px;
  	line-height:1.2;
  	font-family:'Cormorant', serif ;
  	font-size:14px ;
  	background-color: #D1F2EB;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  	height: 30px;
  	padding-top:10px ;
  

  }

  .Servicios__div__ul{
  	grid-area: Servicios__div__ul;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  	justify-content: center;
  	position:relative;
  	top:70px;
  	left:90px;
  	line-height:1.5 ;
  	font-family:'Cormorant', serif ;
  	font-size:12px ;
  	background-color:#D1F2EB;
  	width:180px;
  	height:350px;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  


  }
  .div__video{
  	grid-area: div__video;
  	display: flex;
  	flex-direction: column;
  	position: absolute;
  	margin-top:0px;
  	left:30px;

  	
  	width:310px;
  	height:160px;
  }
footer a p.index-nav1__tituloLogo--formatoTitulo{
  color: black;
  font-size:25px;
  font-family: 'Cormorant', serif;
  font-weight:bold ;
  font-style: normal;
  text-shadow:2px 2px 2px grey;
  position: relative;
  top: -19px;


}
.index-nav1__ul1{
	position: absolute;
	le: 200px;
	display: flex;
	margin-top:72px;

}








  @media  (min-width: 1025px){

  


/*Pagina Servicios*/
.formatoBodyServicios {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 800px 110px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      " Servicios Servicios"
      "footer footer";
    width: 100%;
    height: 100%;
  }

  header{
  	grid-area: header;
  }
  .Servicios{
  	grid-area:Servicios;
  }
  footer{
  	grid-area: footer;
  }
  .Servicios{
  	display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Servicios__div--titulo Servicios__div--titulo"
      "Servicios__div__ul div__video ";
    
   width: 100%;
   height: 100%;

   	
  }

  .Servicios__div--titulo{
  	grid-area: Servicios__div--titulo;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	position: absolute;
  	top:35px;
  	left: 20px;
  	line-height:1.2;
  	font-family:'Cormorant', serif ;
  	font-size:30px ;
  	background-color: #D1F2EB;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  

  }

  .Servicios__div__ul{
  	grid-area: Servicios__div__ul;
  	display: flex;
  	flex-direction: column;
  	text-align: center;
  	justify-content: center;
  	position:relative;
  	top:100px;
  	left:60px;
  	line-height:1.5 ;
  	font-family:'Cormorant', serif ;
  	font-size:20px ;
  	background-color:#D1F2EB;
  	width:500px;
  	height:650px;
  	text-shadow:3px 3px 3px white;
  	box-shadow: 1px 1px 1px grey;
  


  }
  .div__video{
  	grid-area: div__video;
  	display: flex;
  	flex-direction: column;
  	position: absolute;
  	padding-top:0px;
  	margin-top: 0;
  	right: 50px;
  	bottom: 50px;
  	
  	width:700px;
  	height:700px;

  	


}

/*GALERIA*/

.formatoBodyGaleria{  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1500px 110px;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "header header"
      "galeria galeria"
      "footer footer";
    width: 100%;
    height: 100%;
  }

  header{
    grid-area: header;
  }
  
  footer{
    grid-area: footer;
  }
  .galeria{
grid-area: galeria;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(5,auto);
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
    "tituloGaleria tituloGaleria tituloGaleria"
    "foto1 foto2 foto4"
    " foto5 foto6 foto7"
    "foto8 fotosalon foto60"
    "foto9 fotocumple foto11";
      width: 100%;
      height: 100%;
      background-color:#FCFAE2 ;

}
.tituloGaleria{
  grid-area: tituloGaleria;
  display: flex;
  text-align: center;
  align-items: center;
  font-family:'Cormorant', serif ;
  font-size: 45px;
  position: absolute;
 top:200px;
left: 650px;
}
.fotos{
  display: flex;
    grid-gap: 1rem;
    justify-items: center;
    align-items: flex-start;
    flex-direction: rows;
   position: absolute;
   left: 70px;
   top: 150px;
   
 }
.foto1{
  grid-area: foto1;
  width: 450px;
  display: flex;
  flex-direction: rows;
  position: relative;
  top: 200px;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
 }

 .foto1:hover{
  width:500px;
 }
.foto2{
  grid-area: foto2;
  width: 450px;
display: flex;
flex-direction: rows;
position: relative;
  top: 200px;
  transition: width 2s;
  box-shadow:5px 5px 5px grey;
 }
 .foto2:hover{
  width:500px;
 }

.foto4{
  grid-area: foto4;
  width: 450px;
  display: flex;
    flex-direction: rows;
    position: relative;
  top: 200px;
  transition: width 2s;
box-shadow:5px 5px 5px grey;
}
.foto4:hover{
  width:500px;
 }
.foto5{
  grid-area: foto5;
  width: 450px;
  height: 255px;
  position: absolute;
  top: 500px;
  right: 1080px;
transition: width 2s;
 box-shadow:5px 5px 5px grey;
  
}
.foto5:hover{
  width:500px;
 }
.foto6{
  grid-area: foto6;
width: 450px;
position: absolute;
  top: 500px;
  left:470px;
transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.foto6:hover{
  width:500px;
 }
.foto7{
  grid-area: foto7;
width:450px;
position: absolute;
  top: 500px;
  left: 935px;
transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.foto7:hover{
  width:500px;
 }
.foto8{
  grid-area:foto8;
width: 450px;
position: absolute;
  top: 800px;
  right: 1080px;
 transition: width 2s;
box-shadow:5px 5px 5px grey;
}
.foto8:hover{
  width:500px;
 }
.fotosalon{
  grid-area:fotosalon ;
width: 450px;
position: absolute;
  top: 800px;
  left: 470px;
   transition: width 2s;
box-shadow:5px 5px 5px grey;
}
.fotosalon:hover{
  width:500px;
 }
.foto60{
  grid-area:foto60 ;
width: 450px;
position: absolute;
  top: 800px;
  left: 935px;
 transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.foto60:hover{
  width:500px;
 }
.foto9{
  grid-area:foto9;
width: 450px;
position: absolute;
top: 1100px;
right: 1080px;
 transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.foto9:hover{
  width:500px;
 }
.fotocumple{
  grid-area:fotocumple ;
width: 450px;
position: absolute;
top: 1100px;
left: 470px;
 transition: width 2s;
 box-shadow:5px 5px 5px grey;
}
.fotocumple:hover{
  width:500px;
 }
.foto11{
  grid-area:foto11 ;
  width: 450px;
  position: absolute;
  top: 1100px;
  left: 935px;
  height: 250px;
   transition: width 2s;
   box-shadow:5px 5px 5px grey;
}
.foto11:hover{
  width:500px;
 }
    
 